.nombre {
  margin-top: 12%;
  /* margin-left: 5%; */
  /*  margin-left: 14%; */
  color: rgb(78, 74, 74);
  font-weight: 600;
}

.nombre-container {
  display: flex;
  align-items: center;
}

.cantidad {
  margin-top: 2%;
  margin-left: 12%;
}

.btn-group {
  margin-top: 5%;
  margin-left: 20%; 
}

.btn-danger {
  background-color: #eb0066d5;
  margin-top: 0.7rem;
}

.btn-danger:focus {
  background-color: #eb0066b2;
  color: white;
}

.trash-btn {
  margin-top: 0.7rem;
  background-color: #FFFFFF;
  color: #eb0066d5;
  border-color: #eb0066d5;
}

.trash-btn:focus {
  background-color: #eb0066d5;
}

.card-recluter {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}

#ranking{
 margin-left: -8.5% !important;
}