@media screen and (min-width: 390px) {
  .container-parent {

    width: 88%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);


    .container-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      justify-content: space-between;
      padding: 10px;

      .flex {
        flex-direction: column;
        align-items: center;

        .container-ranking {

          margin-left: 5%;
        }

        .container-busquedas {

          margin-left: 10%;

        }

        .btn-grupo {
          border: solid black;
          width: 150px;
        }

      }

      .avatar {
        display: flex;
        width: 190px;

        flex-direction: row;
        align-items: center;


        h6 {

          padding-left: 20px;
          width: max-content;
        }

        .btn-danger {
          margin-top: 0.7rem;
          background-color: #FFFFFF;
          color: #eb0066d5;
          border-color: #eb0066d5;
        }

        .trash-btn {
          margin-top: 0.7rem;
          background-color: #FFFFFF;
          color: #eb0066d5;
          border-color: #eb0066d5;
        }


      }


    }

  }

}

@media screen and (min-width: 768px) {
  .container-parent {

    width: 90%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);

    .container-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      justify-content: space-between;
      padding: 10px;

      .flex {
        flex-direction: row;
        align-items: center;
        width: 100%;

        .container-ranking {
          margin-left: 5%;
        }

        .container-busquedas {
          margin-left: 40%;

        }

        .btn-danger {
          margin-top: 0.7rem;
          background-color: #FFFFFF;
          color: #eb0066d5;
          border-color: #eb0066d5;
        }

        .trash-btn {
          margin-top: 0.7rem;
          background-color: #FFFFFF;
          color: #eb0066d5;
          border-color: #eb0066d5;
        }
      }

      .btn-grupo {
        width: 150px;
        padding-left: 15%;
      }

      .avatar {
        display: flex;
        width: 210px;
        flex-direction: column;
        align-items: center;


        h6 {

          padding: 0;
          width: max-content;
        }

        .btn-danger {
          margin-top: 0.7rem;
          background-color: #FFFFFF;
          color: #eb0066d5;
          border-color: #eb0066d5;
        }

        .trash-btn {
          margin-top: 0.7rem;
          background-color: #FFFFFF;
          color: #eb0066d5;
          border-color: #eb0066d5;
        }
      }
    }
  }

}

@media screen and (max-width: 1280px) {
  .container-parent {
    width: 88%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);

    .container-card {
      display: flex;
      width: 88%;
      justify-content: space-between;
      padding: 10px;

      .avatar {
        display: flex;
        flex-direction: row;
        width: 190px;
        padding-left: 20px;

        h6 {

          padding-left: 20px;
          width: max-content;
        }

      }

      .container-ranking {
        padding-left: 10%;
        margin-bottom: 2%;
      }

      .container-busquedas {
        margin-right: 5%;
      }

      /*  .btn-grupo {
        border: solid red;
      } */

      .btn-danger {
        margin-top: 0.7rem;
        background-color: #FFFFFF;
        color: #eb0066d5;
        border-color: #eb0066d5;
      }

      .trash-btn {
        margin-top: 0.7rem;
        background-color: #FFFFFF;
        color: #eb0066d5;
        border-color: #eb0066d5;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .container-parent {
    width: 88%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);

    .container-card {
      display: flex;
      width: 88%;
      justify-content: space-between;
      padding: 10px;

      .avatar {
        display: flex;
        flex-direction: row;
        width: 190px;
        padding-left: 20px;

        h6 {

          padding-left: 20px;
          width: max-content;
        }

      }

      .container-ranking {
        padding-left: 10%;
        margin-bottom: 2%;
      }

      .container-busquedas {
        margin-right: 5%;
      }

      /*  .btn-grupo {
        border: solid red;
      } */

      .btn-danger {
        margin-top: 0.7rem;
        background-color: #FFFFFF;
        color: #eb0066d5;
        border-color: #eb0066d5;
      }

      .trash-btn {
        margin-top: 0.7rem;
        background-color: #FFFFFF;
        color: #eb0066d5;
        border-color: #eb0066d5;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .container-parent {
    width: 88%;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);

    .container-card {
      display: flex;
      width: 88%;
      justify-content: space-between;
      padding: 10px;


      .avatar {
        display: flex;
        flex-direction: row;
        width: 190px;
        padding-left: 20px;

        h6 {
          padding-left: 20px;
          width: max-content;
        }

      }

      .container-ranking {
        padding-left: 15%;
        margin-bottom: 2%;
      }

      .container-busquedas {
        margin-right: 5%;
      }

      .btn-danger {
        margin-top: 0.7rem;
        background-color: #FFFFFF;
        color: #eb0066d5;
        border-color: #eb0066d5;
      }

      .trash-btn {
        margin-top: 0.7rem;
        background-color: #FFFFFF;
        color: #eb0066d5;
        border-color: #eb0066d5;
      }

    }
  }
}