footer {
  //border: red solid;
  width: 100%;
  margin-top: 5%;
  padding: 0px 0px 5px 0px;
  background-color: #000cf1;
  padding: 15px;

  position: absolute;
  bottom: 0;
}
.container-footer {
  // border: rgb(0, 255, 149) solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.boxIncon {
  display: flex;
  justify-content: space-evenly;
  //border: rgb(229, 255, 0) solid;
  width: 100%;
}

.box-footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box-footer {
  margin: 0 !important;
  padding: 5px;
  color: #f7f8f8;
}

.box-footer a {
  margin-top: 10px;
  color: #f7f8f8;
  font-weight: 300;
}

.box-footer a:hover {
  opacity: 0.8;
  color: #00dcd4;
}

a {
  text-decoration: none;
}

.box-footer .rrss {
  font-size: 20px;
}

.box-copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.box-copyright p {
  margin-top: 20px;
  color: #f7f8f8;
}

.box-copyright hr {
  border: none;
  height: 1px;
  background-color: #f7f8f8;
}
