.title-recruiters {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.836);
}

.edit-recruiters {
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 32px;
    position: relative;
    width: 70%;
    height: 40%;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%; 
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 16px;

}

textarea {
    height: 100px;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    border-color: #d6dbe0;
}

textarea:focus {
    color: #000cf1;
    background-color: #f5f5f5;
    border-color: #000cf1;
    outline: 0;

}

.form-edit input {
    border-radius: 0.5rem;
    background-color: #f5f5f5;
}

.form-edit input:focus {
    color: #000cf1;
    background-color: #f5f5f5;
    border-color: #000cf1;
    outline: 0;
    box-shadow: none;
}

.form-select {
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}

.form-select:focus {
    color: #000cf1;
    border-color: #000cf1;
    outline: 0;
    box-shadow: none;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}

option {
    color: rgba(0, 0, 0, 0.589);
    font-weight: bold;
}

.cancelar {
    background-color: white;
    border-color: #eb0064;
    color: #eb0064;
    width: 160px;
    height: 40px;
    margin-left: 30%;
    border-radius: 0.5rem;
}

.cancelar:hover {
    background-color: #eb0064;
}

.cambios {
    background-color: #eb0064;
    border-color: #eb0064;
    color: white;
    width: 160px;
    height: 40px;
    margin-left: 3%;
    border-radius: 0.5rem;
}

.cambios:hover {
    background-color: #eb0066d0;
}

/* FORMULARIO: ADMIN EDITA RECLUTER */
.from-edit-1 {
    padding: 4%;
    position: relative;
    width: 60%;
    height: 40%;
    /* left: 10%; */
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}

/* También modifica al formulario de registro, login y la creación y edicón de bsuquedas */
.form-control {
    color: #000cf1;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
}

.form-control:focus {
    color: #000cf1;
    background-color: #f5f5f5;
    border-color: #000cf1;
    box-shadow: none;
    outline: 0;
}