.skills-wrapper {
   display: flex; 
   /*  border:solid #eb0064 !important; */
}

.skill {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 10px;
}


.skill::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #fff;
}

.skill:nth-child(1) {
    background-image: conic-gradient(#eb0066d8 85%, transparent 0);
    color: #eb0064;
}

.skill-content {
    font-size: 17px;
    color: #eb0064;
    z-index: 1;
}