/* .titulo {
    margin: 3%;
    font-weight: large;
}

.contenido .cards {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(#000000, 0.5);
    border-radius: 15px;
    background-color: rgba(#000000, 0.10);
    display: flex;
    align-items: center;
    border-top: 1px, solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

}

.contenido .cards .card-tarjetas {
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;
}

.contenido .cards:hover .card-tarjetas {
    transform: translateY(0px);
    opacity: 1;

}

.contenido .cards .card-tarjetas h1 {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 8em;
    color: rgba(27, 25, 25, 0.425);
    pointer-events: none;
}

.contenido .cards .card-tarjetas h5 {
    font-size: 1.0em;
    color: rgba(14, 13, 13, 0.644);
    z-index: 1;
}

.contenido .cards .card-tarjetas p {
    font-size: 1em;
    color: rgb(14, 13, 13);
    font-weight: 300;
}

.contenido .cards .card-tarjetas a {
    display: inline-block;
    position: relative;
    padding: 0px 20px;
    margin-top: 15px;
    background: #eb0064;
    color: rgb(248, 240, 240);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);


} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1faff;
}


cards__home .container__cards {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

}

.cards {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10%;
    transition: all 300ms;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.card:hover {
    width: 350px;
}

.cards .cover img {
    margin-left: 43%;
    margin-top: 3%;
}

.container__cards h3 {
    margin-top: 3%;
}

.container__cards p {
    margin-top: 2%;
}

.cards__home {
    margin-top: 3%;
    margin-bottom: 3%;
}

.cards__home h3 {
    margin-bottom: 2%;
}

.cards__home h4 {
    margin-top: 3%;
    margin-left: 37%;
}


.row__cards {
    margin-left: 3%;
}

.btn-danger-cards {
   /*  margin-top: 10%; */
    margin-left: 30%;
    border-radius: 5rem;
    background-color: #eb0064; 
    color: white;
}


.text-light {
    background-color: #eb0064;
}