.nombre {
    margin-top: 12%;
    /* margin-left: 5%; */
    /*  margin-left: 14%; */
    color: rgb(78, 74, 74);
    font-weight: 600;
}

.cantidad {
    margin-top: 2.7%;
    margin-left: 6%;
}

.btn-group {
    margin-top: 3.7%;
    margin-left: 10%;
}

.btn-danger {
    background-color: #eb0066d5;

}

.card-recluter {
    width: 90%;
    margin-left: 5%;
    margin-right: 2%;
    align-items: center;
}