.contenido {
    width: auto;
    height: auto;
}

/* .card-contenido {
    height: 200px;
} */

.card-contenido h2,
p,
h3 {
    text-align: center;
    font-family: "Hind Vadodara", sans-serif;
}

.home {
    height: auto;
}


/* .rectangulo {
    width: 45%;
    margin-left: 27.5%;
    border-top: 70px solid #13697a;
    margin-top: 1.5%;
}

.rectangulo-1 {
    width: 45%;
    margin-left: 27.5%;
    border-top: 70px solid #4fbedb;
    margin-top: 1.5%;

}

.rectangulo-2 {
    width: 66%;
    margin-left: 17%;
    border-top: 70px solid #ffbd11;
    margin-top: 1.5%;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
}

.rectangulo-3 {
    height: 0px;
    width: 100%;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 70px solid #f92374;
    margin-top: 1.5%;
}

.rectangulo-4 {
    height: 60px;
    border-color: #fe0068;
    background-color: #fe0068;
    margin-top: 1.5%;

}

*/

.iconos {
    color: #fe0068;
}

.col-sm-4 {
    margin-top: 1.5%;
}

.col-sm-5 {
    margin-top: 7%;
}

.col-sm-4 div {
    margin-top: 3%;
}


li {
    color: black;
    font-weight: lighter;
    font-size: normal;
    margin-top: 6.5%;
    margin-bottom: 4%;
}


.candidatos {
    margin-left: 22.5%;

}