.carousel-item {
  height: 30rem;
  position: relative;
}

/* .container {
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 50px;
} */

#title-color {
  color: white;
  background-color: rgba(66, 65, 65, 0.473);
}
