.text-danger {
    color: #EB0064;
    font-weight: 400;
}

/* Idea de navbar transparente */
/* nav.abajo {
    background-color: rgba(0, 0, 0, 0.644);
    padding: 20px, 15px;
    margin-bottom: 5%;
} */


