.profileImg {
  border-radius: 1500px;
  width: 200px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.titleProfile {
  margin-top: 2%;
}

.description ul {
  margin: 3%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

.h2profile {
  margin: 3%;
}
