.btn-search {
  background-color: #eb0064 !important;
  color: white;
}

.local {
  color: #eb002bee;
}

.build {
  color: #000000;
}

.work {
  color: #000cf1;
}

.clock {
  color: #00dcd4;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  margin: 5%;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-header {
  width: 100%;
  background-color: #00dcd4;
  border-color: black;
  border-width: 1px;
}

#info-col {
  margin-left: 50px;
}

#search-card {
  width: 50%;
}
