.card-busqueda {
    background-image: linear-gradient(90deg, #000cf1b2, #eb0066d2);
    bleed: normal;
    height: 70px;
}

.btn-dark {
    background-color: #545561ce;
}

.form-select {
    color: #000cf1b2;
    font-weight: bold;
}

option {
    color: black
}

.input-group {
    width: 80%;
    margin-left: 10%;
}


.title-admin {

    text-align: center;
    color: rgba(0, 0, 0, 0.582);
}

.container-admin {
    margin-top: 5%;
}

.card-titulos {
    margin-top: 3%;
    margin-bottom: 0;
}

.linea {
    color: #000cf1b2;
    border: solid;
}