@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500&family=Quicksand:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: "Hind Vadodara", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  margin-bottom: 17.6%;
  margin-top: 110px; 
}
html {
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box !;
  list-style: none;
}

/* /////////////ARIEL///////////// */

.nav2 {
  padding: 0 !important;
  
}

.buttonLogOut {
  margin: 0 !important;
}
.buttonSinUp {
  background: rgb(23, 144, 180) !important;
  color: white;
  font-weight: 500;
  border: none;
}

.buttonLoging {
  background: rgb(23, 67, 212) !important;
  color: white;
  font-weight: 500;
  border: none;
}

li {
  margin: 10px !important;
}

.nav-menu_medium {
  background: #e9e9e9 !important;
}
.navtoggler2{
  color: black !important;
}
#navtoggler2{
  color: black !important;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  text-transform: uppercase;
}
.fixed {
  display: none;
  
}

.perfil {
  color: black !important;
  background: rgba(221, 8, 54, 0.589);
  font-weight: 500;
}
/* ///////////// FIN  ARIEL///////////// */